############
## CONFIGS
############
configs/cli-config.php

############
## VENDORS (composer)
############
vendor
#WP
wp
#Plugins
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/your-plugin/
node_modules
bower_components

############
## VENDORS (bower)
############
wp-content/themes/your-theme/assets/vendors
wp-content/plugins/your-plugin/assets/vendors/*

############
## DEPLOY
############
.rocketeer/logs

############
## COMPILED
############
wp-content/themes/your-theme/style.css
wp-content/themes/your-theme/style.css.map
wp-content/themes/your-theme/assets/src/js/bundle.js
wp-content/themes/your-theme/assets/dist/js/main.min.js
wp-content/themes/your-theme/assets/dist/js/main.min.js.map

wp-content/plugins/your-plugin/assets/dist/css/style.css
wp-content/plugins/your-plugin/assets/dist/css/style.css.map
wp-content/plugins/your-plugin/assets/dist/js/your-plugin-plugin.min.js
wp-content/plugins/your-plugin/assets/dist/js/your-plugin-plugin.min.js.map
wp-content/plugins/your-plugin/assets/src/js/bundle.js

############
## UPLOADS
############
wp-content/uploads/*
wp-content/fs-exports/*
!wp-content/fs-exports/.gitkeep
wp-content/fs-imports/*
!wp-content/fs-imports/.gitkeep

############
## CACHE
############
wp-content/upgrade/*

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Commmons
############

node_modules/
bower_components/
builds/
npm-debug.log
Movefile

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
*.codekit
