/*------------------------------------*\
    #SECTION-INDEX
\*------------------------------------*/

/*    1. #SECTION-HEADER
/*    2. #SECTION-SECONDARY-NAVIGATION
/*    3. #SECTION-LANGUAGE-SHIPPING
/*    3. #SECTION-DROPDOWN-CART





/*------------------------------------*\
    #SECTION-HEADER
\*------------------------------------*/

.top-message {
  display: inline-block;
  background-color: #F4F4F6;
  width: 100%;
  text-align: center;
  padding: 3px 10px;
  h6 {
    font-size: 1em;
    text-transform: uppercase;
  }
}

header.site-header {

  .site-branding {
    padding: 20px 20px;

    img {
      width: 190px;
    }

  }

  .navbar-brand {
    padding: 10px 0;

    img {
      height: 30px;
    }

  }

  .header-left {
    padding: 10px 0 0;
  }

  .header-right {
    text-align: right;
    padding: 10px 0 0;
    .widget_nav_menu,
    .widget_shopping_mini_cart {
      display: inline-block;
      float: right;
    }

    a.login_button {
      width: 24px;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      display: inline-block;
      float: right;
      -webkit-transition: all 0.5s ease;
      -moz-transition:  all 0.5s ease;
      -o-transition:  all 0.5s ease;
      transition:  all 0.5s ease;
      margin: 0;
      padding: 0;

      .icofs-user:before {
        width: 24px;
        height: 24px;
        line-height: 24px;
      }

    }

    a.login_button:hover {
      width: auto;
      overflow: visible;
    }

  }

  .navbar-default .navbar-toggle {
    margin-right: 0;
    padding: 9px 0px;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

}




/*------------------------------------*\
    #SECTION-SECONDARY-NAVIGATION
\*------------------------------------*/

.header-right .widget_nav_menu ul {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;

  li {
    display: inline-block;
    margin-left: 10px;

    a {
      width: 24px;
      height: 24px;
      line-height: 24px;
      display: flex;
      overflow: hidden;
      -webkit-transition: all 0.5s ease;
      -moz-transition:  all 0.5s ease;
      -o-transition:  all 0.5s ease;
      transition:  all 0.5s ease;
    }

    a:hover {
      width: auto;
      display: inline-block;
      overflow: visible;
    }

    a:before {
      font-family: 'icofashionis';
      width: 24px;
      height: 24px;
      line-height: 24px;
      display: inline-table;
      text-align: center;
    }

  }

  li:first-child {
    display: none;
  }

  li:nth-child(2n) a:before {
    content: "\e900";
  }

}
.logged-in .header-right .widget_nav_menu ul li:first-child {
  display: inline-block;

  a:before {
    content: "\e904";
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

}





/*------------------------------------*\
    #SECTION-LANGUAGE-SHIPPING
\*------------------------------------*/

.header-left .widget_wpglobus,
.header-left .currency_switcher {
  display: inline-block;

  .select-styled {
    display: inline;
  }
  select,
  select.countries {
    border: 0;
    box-shadow: 0 0;
    height: auto;
    display: inline-block;
    width: 100px;
  }

}

.widget_wpglobus h2 {
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  font-family: $font-base;
  margin: 0;
}

#wpglobus-2 .btn {
  padding: 5px 25px 5px 20px;
  border: none;
  text-transform: none;
  font-size: 1em;
  border-radius: 0;
}

#wpglobus-2 .bootstrap-select {
  width: 110px !important;
  /* border-bottom: 1px solid #eee !important; */
  border-radius: 0;
}

.billing_country_selector_form .btn {
  padding: 5px 25px 5px 10px;
  border: none;
  text-transform: none;
  font-size: 1em;
  border-radius: 0;
}

.billing_country_selector_form .bootstrap-select {
  width: 110px !important;
  /* border-bottom: 1px solid #eee !important; */
  border-radius: 0;
}

.billing_country_selector_form label {
  margin: 4px 5px 0 15px;
  float: left;
  font-weight: 400;
  color: #999;
}





/*------------------------------------*\
    #SECTION-DROPDOWN-CART
\*------------------------------------*/

.dropdown-cart-button {
  width: auto;
  min-height: 0;
  border: 0px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  background-image: none;

  .dropdown-total {
    line-height: 24px;
    padding: 0px;
    background-image: none;
    .cart-txt {
      display: none;
    }

    .cart-counter {
      background-color: $brand-secondary;
      color: #fff;
      border-radius: 50%;
      padding: 0 5px;
      font-size: 0.9em;
    }

  }

  .dropdown-total:hover {

    .cart-txt {
      display: inline-block;
    }

  }

  .dropdown.dropdown-left {
    right: 0;
    left: auto;
  }

  .dropdown {
    background: #FFFFFF;
    border: 1px solid #ccc;
    padding: 10px 10px 0;
    width: 300px;
    font-size: 0.9em;

    .cart_list {
      font-size: 1em;
      padding: 0px;

      li {
        overflow: hidden;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        a {
          width: auto;
        }

        img {
          height: auto;
          margin-right: 10px;
          width: 65px;
        }

        .product-detail {
          padding: 10px 0;
          display: inherit;
        }
        p {
          margin: 0px;
          text-transform: uppercase;
          font-family: $font-title;
        }

        .quantity {
          float: none;
          width: auto;
          font-weight: 700;
        }
        .product-detail {
          padding: 10px 0;
          display: inherit;
        }
        dl.variation {
          margin: 0px;
          padding: 0;
          border-left: 0;
          overflow: auto;
          float: none;
          clear: none;
          width: auto;

          dt, dd {
            display: inline-block;
            float: left;
            padding: 0em;
            margin: 0;
            clear: none;
          }

          dt {
            margin-right: 5px;
            clear: both;
            text-transform: uppercase;
            font-weight: 300;
          }

          dd {
            margin-right: 10px;
            clear: none;

            p {
              margin: 0;
              text-transform: none;
              font-family: $font-base;
            }
          }

          dt.variation-Warranty,
          dd.variation-Warranty,
          dt.variation-GaranziaperReso,
          dd.variation-GaranziaperReso {
            display: none !important;
          }
        }

        dl.variation:after {
          display: none;
        }

        a.remove {
          position: absolute;
          right: 0;
          border-radius: 0;
          color: #2A2A2A !important;
          font-size: 1em;
        }

        a.remove:hover {
          background-color: transparent;
          color: #2A2A2A;
        }

      }

    }

    .total {
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      strong {
        font-size: 1.2em;
      }

    }

    .buttons {
      clear: both;
      float: left;
      width: 100%;
      text-align: center;
      > a:first-child {
        margin-right: 5px;
      }
      .btn {
        padding: 10px 5px;
      }
    }

    .free-returns {
      clear: both;
      width: 298px;
      text-align: center;
      text-transform: uppercase;
      background-color: #f4f4f6;
      margin: 10px -10px 0;
      display: inline-block;
      padding: 10px 0;
    }

  }

}