// Designer
.full-title {
  padding: 70px 0;
  background-image: url("assets/images/designers/banner-designers.jpg");
  background-position: center center;
  background-repeat: repeat-x;
  h1 {
    text-align: center;
    margin: 0;
    color:#fff;
  }
}