#fspopup-blackout {
  display: none;
  z-index: 499;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.6;
}

#fspopup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#fspopup-dialog h2 {
  font-size: 2em;
  margin: 0;
}

#fspopup-dialog p {
  margin: 0;
}

#welcome-popup {
  display: none;
  z-index: 500;
  position: fixed;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  padding: 20px;
  background: #FFF;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  border-radius: 6px;
}


.popup-inner {
  text-align:center;
  .popup-title {
    font-size: 2.1em;
    margin: 0 0 20px;
    padding:20px 0;
    color: #000;
    font-family: "Playfair Display",serif;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  p {
    font-size: 1.7em;
    color: #666;
    font-family: "Playfair Display",serif;
  }
  p b {
    color: #000;
    font-family: "Open Sans",sans-serif;
  }
  p.popup-coupon {
    font-size: 2.3em;
  }
  .popup-closure {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding: 10px 0;
    color: #fff;
    background-color:#666;
    p {
      font-size: 1em;
      color: #fff;
      font-family: "Open Sans",sans-serif;
      margin: 0;
    }
  }
}




@media (max-width: 767px) {
  #welcome-popup {
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    padding: 10px;
  }
  .popup-inner {
    .popup-title {
      font-size: 1.3em;
      margin: 0 0 10px;
      padding: 5px 0 10px 0;
    }
    p {
      font-size: 1em;
      margin-bottom: 0;
    }
    p.popup-coupon {
      font-size: 1.3em;
    }
    .popup-closure {
      padding: 5px 0;
      p {
        font-size: 0.55em;
      }
    }
  }
}