/*------------------------------------*\
    #SECTION-INDEX
\*------------------------------------*/

/*    1. #SECTION-SEARCH-MODAL
/*    2. #SECTION-AJAX-SEARCH






/*------------------------------------*\
    #SECTION-SEARCH-MODAL - Mobile first
\*------------------------------------*/

.modal-backdrop {
  background-color: #fff;
}


.modal-backdrop.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}


#search-modal {

  .modal-dialog {
    margin-top: 0;
  }

  .modal-header {
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
  }

  .modal-header .close {
    opacity: 0.3;
  }

  .modal-header .close:hover {
    opacity: 0.6;
  }

  .modal-header .close span {
    font-size: 2em;
  }

  .modal-content {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  .modal-search {
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {

    .modal-search {
      width: 50%;
    }

    .modal-search {
      width: 90%;
    }

    .modal-dialog {
      margin-top: 39px;
    }

  }

}







/*------------------------------------*\
    #SECTION-AJAX-SEARCH - Mobile first
\*------------------------------------*/

.yith-ajaxsearchform-container {
  position: relative;

  .search-navigation #yith-s {
    width: 100%;
    font-size: 1.5em;
    height: 100%;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    margin-bottom: 0;
    background-position: 85% 75% !important;
    background-size: 25px 25px;
  }

  .yith-searchsubmit {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .search-navigation {
    display: block !important;
  }

  .search-navigation input {
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .icofs-search:before {
    font-weight: 700;
  }

  .autocomplete-suggestions {
    width: 100% !important;
    border-radius: 0;
    border: none;
    padding: 0;
  }

  .autocomplete-suggestion {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    min-height: 50px;
  }

  .yith_wcas_result_image img {
    height: 90px;
  }

  .autocomplete-suggestion .yith_wcas_result_content .title {
    color: #000;
    font-size: 1.2em;
    line-height: 1.5;
  }

  .autocomplete-suggestion .yith_wcas_result_content .amount {
    color: #000;
    font-size: 1.1em;
  }

  .autocomplete-suggestion div.badges {
    left: 85px;
    right: auto;
    position: absolute;
    top: 80px;
    width: auto;
    line-height: 2em;
    display: none;
  }

  .badges > span {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 3px;
  }

  .badges .yith_wcas_result_on_sale {
    background-color: red;
  }

  .link-result {
    padding: 0 !important;
  }

  .link-result a {
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: block;
    background-color: #222;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 0 0 3px 3px;
  }

  .link-result a:hover {
    background-color: #000;
  }

  @media screen and (min-width: 768px) {

    .autocomplete-suggestion .yith_wcas_result_content .title {
      font-size: 1.3em;
    }

    .yith-searchsubmit {
      top: 20px;
    }

    .autocomplete-suggestion div.badges {
      right: 18px;
      left: auto;
      top: 10px;
    }

    .search-navigation #yith-s {
      font-size: 2em;
      background-position: 95% 75% !important;
    }

  }

}

/*------------------------------------*\
    #SECTION-DESKTOP-SEARCH
\*------------------------------------*/

.desktop-search .yith-ajaxsearchform-container {

  .search-navigation #yith-s {
    width: 170px;
    font-size: 1em;
    background-position: 85% 75% !important;
    transition: all .2s ease-out 0.1s;
  }

  .search-navigation #yith-s:focus,
  .search-navigation #yith-s.search-expanded {
    width: 280px;
  }

  .yith-searchsubmit {
    background-color: #fff;
    top: 3px;
  }

}
